<header class="header home">
    <div class="header-container container" id="tabs-1">
    
      <div class="header__tabs">
        <div class="header__title-panel">
          <a href="" class="header__logo"
            ><svg class="icon-animation" width="30px" height="30px">
              <use href="./images/svg/symbol-defs.svg#icon-film"></use></svg
            ><span class="logo-title">Filmoteka</span></a
          >
         
        </div>
        <nav class="header__nav">
          <ul class="header__controls" data-controls>
            <li><a href="#home" class="header__controls-item btn1">Home</a></li>
            <li><a href="#mylibrary" class="header__controls-item btn2 hidden-tab">My Library</a></li>
          </ul>
          <div>
            <a id="auth" href="#registration" class="header__registration-item">
              <svg class="header__registration-icon">
                <use href="./images/svg/symbol-defs.svg#icon-user"></use>
              </svg>
            </a>
          </div>
        </nav>
      </div>
      
    </div>
  </header>